<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sty.css">
    <title>{{ request.user.username }}</title>
</head>

<body>
    <h1>{{ request.user.username }}</h1>
    <h1>{{ request.user.email }}</h1>
   
    <table>
        <tr>
             <th>
                Room Name
            </th>
            <th>
                Number Of people
            </th>
           
            <th>
                Check In
            </th>
            <th>
                Check Out
            </th>
            <th>
                Gender
            </th>
            <th>
                Amount
            </th>
            <th>
                Cancel
            </th>

        </tr>
        {% for item in order %}
        <form action="{% url 'cancelOrder' %}" method="post">
            {% csrf_token %}
            <tr>
               
                <th>
                    {{ item.roomname }}
                </th>
                <th>
                    22
                </th>
               
                <th>
                    {{ item.cin }}
                </th>
                <th>
                    {{ item.cout }}
                </th>
                <th>
                    {{ item.sex }}
                </th>
                <th>
                    {{ item.sex }}
                </th>
                <th>
                    <button type="submit">Cancel</button> 
                </th>
                <input type="hidden" name="ids" value="{{ item.id }}">
            </tr>
        </form>
        {% endfor %}
    </table>
    <form action="{% url 'logo' %}" method="post">
        {% csrf_token %}
        <button name="logoutuser" type="submit">Logout > </button>
        
    </form>
    <a href="{% url 'index' %}">Home</a>


</body>

</html>